:root {
    --primary-color: #00476F;
    /* Ana renk */
    --secondary-color: #00AEEE;
    /* İkincil renk */
    --light-background-color: #d4e6f2a4;
    /*mavi tonlu arkaplan rengi*/
    --background-color: #FFFFFF;
    /* Arka plan rengi */
    --header-text-color: #282828;
    /*Başlıktaki menü rengi*/
    --text-color: #537480;
    /* Metin rengi */
    --footer-color: #DBDBDB;
    /*footer border rengi*/
    --link-color: #007BFF;
    /* Bağlantı rengi */
    --font-light: 300;
    /* Light (hafif) yazı tipi ağırlığı */
    --font-regular: 400;
    /* Regular (normal) yazı tipi ağırlığı */
    --font-medium: 500;
    /* Medium (orta) yazı tipi ağırlığı */
    --font-semibold: 600;
    /* Semibold (yarım kalın) yazı tipi ağırlığı */
    --font-bold: 700;
    /* Bold (kalın) yazı tipi ağırlığı */
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z1JlFc-K.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin-ext */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin-ext */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin-ext */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1JlFc-K.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin-ext */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1JlFc-K.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

.no-scroll {
    overflow: hidden;
    height: 100vh;
    margin: 0;
    padding: 0;
}


/* Temel stil */
.main-container {
    display: flex;
    flex-direction: column;
    /* Mobilde dikey sıralama */
}

/*      !HEADER!      */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    color: var(--header-text-color);
    margin-top: 0px;
    padding: 0 2%;
    /* % olarak padding kullanımı */
}

.logo-header img {
    margin-left: 3%;
    margin-top: 1vw;
    width: 6vw;
    height: auto;
}

.header-menu-icon {
    display: none;
    margin-top: -4px;
    /* Başlangıçta menü simgesini gizle */
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 4px;
    background-color: var(--primary-color);
    margin: 3px 2px;
}

.toggle-menu {
    display: none;
    /* Başlangıçta toggle menüyü gizle */
    z-index: 3;
    position: fixed;
    top: 0;
    margin: 0;
    right: -43vw;
    /* Ekranın %40'u kadar kaydırılmış */
    height: 100vh;
    /* Ekran yüksekliği kadar */
    width: 43vw;
    /* Ekranın %40'u kadar genişlik */
    background-color: var(--primary-color);
    color: #fff;
    transition: right 0.3s;
    /* Animasyon için geçiş süresi ekler */
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 35px;
    cursor: pointer;
}

nav ul.header-menu {
    list-style: none;
    display: flex;
    gap: 3.5vw;
    margin-left: -7vw;
}

nav ul.header-menu li a {
    text-decoration: none;
    color: var(--header-text-color);
    letter-spacing: 0.13vw;
    font-weight: var(--font-semibold);
    font-size: 0.85vw;
}

nav ul.header-menu li a.activePage {
    text-decoration: none;
    color: var(--secondary-color);
    letter-spacing: 0.13vw;
    font-weight: var(--font-semibold);
    font-size: 0.85vw;
}

/* Diğer stiller burada yer alır */

.flags {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    /* Bayrakları sağa hizala */
}

.flags a {
    display: inline-block;
    border-radius: 50%;
    /* Dairesel şekil için border-radius kullanın */
}

.flags img {
    width: 2.7vw;
    height: 2.7vw;
    /* Beyaz bir kenarlık ekleyebilirsiniz */
    border-radius: 50%;
    /* Bayrağı daire şeklinde yapar */
}

/*      !HERO SECTION!      */
.hero-row {
    display: flex;
    justify-content: space-between;
    /* Elemanları yatayda sağa ve sola hizala */
}

.element {
    flex: 1;
    background-color: var(--background-color);
}

.hero {
    flex: 1;
    font-weight: var(--font-medium);
    padding: 5%;
    background-color: var(--background-color);
    text-align: left;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
}

h1.hero-line {
    margin-top: -1%;
    font-size: 5.2vw;
    font-weight: var(--font-medium);
    white-space: nowrap;
}

p.tag-line {
    margin-top: -9%;
    font-size: 2.1vw;
    color: var(--secondary-color);
    white-space: nowrap;
}

.cta-button {
    background: linear-gradient(to right, var(--secondary-color), #0075B6);
    color: #fff;
    padding: 0.7vw 2.6vw;
    border: none;
    border-radius: 0.8vw;
    font-family: Poppins;
    letter-spacing: 0.1vw;
    margin-left: 14.5vw;
    font-size: 1.2vw;
    font-weight: var(--font-semibold);
    cursor: pointer;
    margin-top: 17%;
    transition: box-shadow 0.5s ease;
}
.cta-button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
/* Sağ yarısı */
.right-content {
    flex: 1;
    position: relative;
    display: flex;
    align-items: flex-end;
}

/* Overlay için ortak stil */
/* Üst katman için stil */
.overlay-box {
    position: absolute;
    top: 10%;
    min-width: 100px;
    right: 10%;
    /* Sol kenardan %10 ötelemek için */
    width: 100%;
    /* Sağ kenara %10 ötelemek için */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: none;
    /* Overlay arkaplanını kaldırın */
    z-index: 1;
    /* Overlay'i üst katmanda görüntülemek için */
}

/* Alt katman için stil */
.rectangle {
    min-width: 100px;
    width: 70%;
    height: 80%;
    position: absolute;
    border-radius: 2.5vw;
    z-index: 0;
    /* Dikdörtgenleri alt katmanda görüntülemek için */
    background-color: var(--light-background-color);
    /* Dikdörtgenlerin opaklığını %50 yapar */
}

/* Dikdörtgenleri overlap yapmak için pozisyon ayarı */
.rectangle:nth-child(odd) {
    left: 13%;
    /* Sağ yarının sol kenarına yerleştirir */
}

.rectangle:nth-child(even) {
    right: 13%;
    top: 5%;
    /* Sağ yarının sağ kenarına yerleştirir */
}

/* Görsel */
.overlay-box img {
    min-width: 100px;
    width: 70%;
    margin-top: -11%;
    margin-left: 17%;
    height: auto;
    object-fit: cover;
    overflow:visible;
    z-index: 2;
    /* Resmi üst katmanda görüntülemek için */
}

/*      !SERVICES SECTION!      */
.service-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    height: 35vw;
}

h2.our-service-header {
    font-size: 2vw;
    margin-bottom: 2.5vw;
}

.service-row {
    display: flex;
    justify-content: center;
    gap: 10px;
    /* Kutular arasındaki boşluk */
    margin-bottom: 10px;
}

.service-row.medium {
    display: none;
    justify-content: center;
    gap: 2vw;
    /* Kutular arasındaki boşluk */
    margin-bottom: 2vw;

}

.service-box {
    display: flex;
    flex-direction: row;
    width: 10vw;
    height: 4.4vw;
    align-items: center;
    /* Satırda 4 kutu olacak şekilde */
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--background-color);
    /* Arkaplan rengi */
    border: 0.14vw solid #DFDFDF;
    border-radius: 0.5vw;
    /* Gri kenarlık */
    padding: 0.4vw 2.5vw;
    text-align: left;
    transition: box-shadow 0.8s ease, background-color 0.8s ease,
        color 0.8s ease;
    /*yavaş bir geçiş için*/
}

.service-box:hover img {
    filter: brightness(0) invert(1);
    /*ikonları kutu üstüne gelindiğinde beyaz yap*/
}

.service-box:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* Yavaş geçişli gölge efekti */

    color: var(--background-color);
    background-color: var(--primary-color);
    /*kutunun üstüne geindiğinde renk değişimi*/
}

.our-service-icon {
    margin-left: -1.2vw;
    width: 3.6vw;
    height: auto;
    transition: filter 0.8s ease;
}

.our-service-icon.smile {
    margin-left: -1.5vw;
    width: 4.5vw;
    height: auto;
}

.our-service-icon.beyazlatma {
    margin-left: -1.2vw;
    width: 3.6vw;
    height: auto;
}

.our-service-icon.estetik {
    margin-left: -1.2vw;
    width: 3.6vw;
    height: auto;
}

.our-service-icon.kaplama {
    margin-left: -1.2vw;
    width: 4.1vw;
    height: auto;
}

.our-service-icon.implant {
    margin-left: -1vw;
    width: 3.6vw;
    height: auto;
}

.our-service-icon.dis_eti {
    margin-left: -1.6vw;
    width: 4.5vw;
    height: auto;
}

.our-service-icon.cene {
    margin-left: -1.1vw;
    width: 3.7vw;
    height: auto;
}

.our-service-icon.dis_sikma {
    margin-left: -1.5vw;
    width: 4.5vw;
    height: auto;
}

.our-service-text {
    width: 7.7vw;
    margin-left: 3.8vw;
    font-weight: var(--font-semibold);
    font-size: 1.2vw;
    position: absolute;
}

/*      !TEAM SECTION!      */
.row-team {
    display: flex;
    align-items: center;
    text-align: left;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.team-img{
    width: 31.7vw;
    height: 38.9vw;
    object-fit: cover;
    object-position: 60% 0;
    border-radius: 1.3vw;
    margin-left: 6.5vw;
    margin-right: 8vw;
}

.team-text{
    align-items: center;
    text-align: left;
    width: 45vw;
}

.team-text h2 {
    font-size: 3.35vw;
    line-height: 4.2vw;
    color: var(--primary-color);
    font-weight: var(--font-semibold);
}
.team-text p{
    font-size: 1vw;
    font-weight: var(--font-medium);
    color: var(--text-color);
    line-height: 1.9vw;
    width: 31vw;
    text-wrap: wrap;
}

.about-us-button{
    background: linear-gradient(to right, var(--secondary-color), #0075B6);
    color: #fff;
    padding: 0.7vw 2vw;
    border: none;
    border-radius: 0.8vw;
    font-family: Poppins;
    letter-spacing: 0.1vw;
    font-size: 1vw;
    font-weight: var(--font-semibold);
    cursor: pointer;
    margin-top: 2.5vw;
    transition: box-shadow 0.5s ease;
}

.about-us-button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

/*      !CLINIC SECTION!      */
.clinic {
    flex: 1;
    flex-direction: column;
    width: 100%;
    background-color: var(--light-background-color);
    text-align: center;
    padding-bottom: 2.2vw;
    margin-top: 3vw;

}

/* Galeri başlığının stilini güncelle */
.gallery-header {
    color: var(--primary-color);
    font-size: 1.5vw;
    padding: 0.1vw 0vw;
    line-height: 2vw;
    /* Başlık ile resimler arasına boşluk ekledik */
}


/* Galeri stilini güncelle, iki sütun ve iki satır olacak şekilde ayarla */
.clinic-content {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.clinic-left-content {
    padding: 0vw 0.4vw;
    /* Sol içerik stilini güncelle */
}

.clinic-left-content img {
    width: 33vw;
    height: 33vw;
    object-fit: cover;
    border-radius: 1vw;
}

.clinic-right-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Resimler arasındaki boşluk */
    /* Sağ içerik stilini güncelle */
}

/* Her resmin stilini güncelle */
.gallery-item {
    text-align: center;
}

.gallery-item img {
    width: 16.1vw;
    height: 16.1vw;
    object-fit: cover;
    border-color: #FFFFFF;
    border-radius: 1vw;
    /* İstediğiniz köşe yuvarlama */
    padding: 0.2vw 0.4vw;
    /* Resimlerin yüksekliğini 100% olarak ayarla */
}

/*      !FOOTER!      */
/* Footerı stilize etmek için CSS kuralları */
footer {
    background-color: var(--background-color);
    /* Footer arkaplan rengi */
    color: var(--primary-color);
    /* Metin rengi */
    border-top: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    /* İçerikleri yatay olarak hizalar */
    justify-content: space-between;
    /* İçerikleri sola ve sağa yay */
    align-items: center;
    /* İçerikleri dikey olarak hizala */
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4.2vw;
    font-size: 1.4vw
}

.footer-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 3vw;
}

.footer-left img {
    width: 4vw;
    /* Logo resmi genişliği */
    height: auto;
    /* Otomatik yükseklik ayarla */
    margin-right: 0.2vw;
    margin-bottom: 0.2vw;
    /* Logo ile marka ismi arasındaki boşluk */
}

.footer-marka-ismi {
    font-weight: var(--font-bold);
    /* Marka ismini kalın yap */
}

.footer-right p {
    font-weight: var(--font-bold);
    margin-right: 2vw;
    /* Paragrafın içerikten boşluğunu kaldır */
}

/* Ekran genişliği 768 piksel veya daha küçükse, sıralamayı değiştir */
@media screen and (max-width: 675px) {
    /*      !HEADER!      */
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--background-color);
        color: var(--header-text-color);
        margin-top: 3px;
        padding: 1% 2%;
        /* % olarak padding kullanımı */
    }

    .logo-header {
        order: 1;
        /* Logo, menü ikonunun önüne gelir */
    }

    .header-menu-icon {
        display: flex;
        margin-right: 1vw;
        /* Mobilde menü simgesini göster */
        order: 3;
        /* Menü simgesi, logonun arkasına gelir */
    }

    .toggle-menu {
        display: block;
        /* Mobilde toggle menüyü göster */
        /* Ekranın sağ tarafından sola kaydır */
    }

    .toggle-menu ul {
        list-style: none;
        margin-top: 18vw;
        line-height: 2.7;
        margin-left: -3vw;
    }

    .toggle-menu ul li a {
        text-decoration: none;
        color: var(--background-color);
        letter-spacing: 0.3vw;
        font-weight: var(--font-medium);
        font-size: 3.5vw;
    }

    .toggle-menu ul li a.activePage {
        text-decoration: none;
        color: var(--secondary-color);
        letter-spacing: 0.3vw;
        font-weight: var(--font-medium);
        font-size: 3.5vw;
    }

    .close-icon {
        display: block;
        /* Mobilde kapatma ikonunu göster */
    }

    .flags {
        order: 2;
        /* Bayraklar, menü ikonunun arkasına gelir */
        margin-left: 44vw;
    }

    .flags img {
        width: 30px;
        height: 30px;
    }

    .logo-header img {
        margin-left: 1vw;
        width: 15vw;
        height: auto;
    }

    nav {
        display: none;
        /* Menüyü gizle */
        background-color: #666666;
        position: absolute;
        top: 10px;
        right: 0;
        width: 100%;
        z-index: 1;
    }

    nav.active {
        display: flex;
        /* Menüyü mobilde göster */
        flex-direction: column;
        align-items: center;
    }

    .header-menu.active li {
        padding: 10px;
        text-align: center;
    }

    /*      !HERO SECTION!      */
    .hero-row {
        flex-direction: column-reverse;
        margin-top: 7vw;
        /* Dikey sıralamaya geç */
    }
    .row-team {
        flex-direction: column;
        /* İkinci satırdaki elementlerin sıralamasını ters çevir */
    }
    .hero {
        flex: 1;
        padding: 0%;
        background-color: var(--background-color);
        text-align: center;
        color: var(--primary-color);
    }
    .right-content {
        position: relative;
        width: 100%;
        /* Mobilde tam genişlik */
        /* Dikeyde herhangi bir üst boşluk kaldırılıyor */
    }
    h1.hero-line {
        margin-top: -1%;
        font-size: 9vw;
        font-weight: var(--font-bold);
        white-space: nowrap;
    }

    p.tag-line {
        margin-top: -9%;
        font-size: 4.7vw;
        font-weight: var(--font-bold);
        color: var(--secondary-color);
        white-space: nowrap;
    }
    .cta-button {
        background: linear-gradient(to right, var(--secondary-color), #0075B6);
        color: #fff;
        padding: 2.1vw 6.1vw;
        border: none;
        border-radius: 3vw;
        font-family: Poppins;
        margin-left: 0vw;
        letter-spacing: 0.1vw;
        font-size: 3.5vw;
        font-weight: var(--font-semibold);
        cursor: pointer;
        margin-top: 4%;
    }
    /* Üst katman için stil (overlay-box) */
    .overlay-box {
        position: static;
        margin: 0;
        padding: 0;
        /* Normal akışa dönüş */
        width: 100%;
        align-items: center;
        /* Mobilde tam genişlik */
    }
    .rectangle:nth-child(odd) {
        left: 18.3%;
        /* Sağ yarının sol kenarına yerleştirir */
    }

    .rectangle:nth-child(even) {
        right: 18.3%;
        top: 6%;
        /* Sağ yarının sağ kenarına yerleştirir */
    }
    /* Alt katman için stil (rectangle) */
    .rectangle {
        width: 58%;
        height: 85%;
        position: absolute;
        border-radius: 13vw;
        /* Dikeyde herhangi bir üst boşluk kaldırılıyor */
    }
    .overlay-box img {
        min-width: 100px;
        width: 60%;
        margin-top: -8%;
        margin-left: 5%;
        height: auto;
        object-fit: cover;
        z-index: 2;
        /* Resmi üst katmanda görüntülemek için */
    }

    /*      !SERVICES SECTION!      */
    .service-container{
        margin-top: 13vw;
        height: 75vw;
    }
    .service-box {
        width: 15vw;
        height: 4.4vw;
    }

    .service-row {
        display: none;
    }

    .service-row.medium {
        display: flex;
    }

    .service-box {
        display: flex;
        flex-direction: row;
        width: 38vw;
        height: 13vw;
        align-items: center;
        /* Satırda 4 kutu olacak şekilde */
        text-decoration: none;
        color: var(--primary-color);
        background-color: var(--background-color);
        /* Arkaplan rengi */
        border: 0.5vw solid #DFDFDF;
        border-radius: 3vw;
        /* Gri kenarlık */
        padding: 0.4vw 2.5vw;
        text-align: left;
        transition: box-shadow 0.8s ease, background-color 0.8s ease,
            color 0.8s ease;
        /*yavaş bir geçiş için*/
    }

    .our-service-icon {
        margin-left: 0.6vw;
        width: 8vw;
        height: auto;
        transition: filter 0.8s ease;
    }

    .our-service-icon.smile {
        margin-left: 0.6vw;
        width: 12.125vw;
        height: auto;
    }

    .our-service-icon.beyazlatma {
        margin-left: 1vw;
        width: 9.7vw;
        height: auto;
    }

    .our-service-icon.estetik {
        margin-left: 1vw;
        width: 9.7vw;
        height: auto;
    }

    .our-service-icon.kaplama {
        margin-left: 1vw;
        width: 11.048vw;
        height: auto;
    }

    .our-service-icon.implant {
        margin-left: 1.2vw;
        width: 9.7vw;
        height: auto;
    }

    .our-service-icon.dis_eti {
        margin-left: 0vw;
        width: 12.125vw;
        height: auto;
    }

    .our-service-icon.cene {
        margin-left: 1.3vw;
        width: 9.97vw;
        height: auto;
    }

    .our-service-icon.dis_sikma {
        margin-left: 0.2vw;
        width: 12.125vw;
        height: auto;
    }

    h2.our-service-header {
        font-size: 6vw;
        margin-bottom: 3vw;
    }

    .our-service-text {
        width: 20vw;
        margin-left: 15vw;
        font-weight: var(--font-semibold);
        font-size: 3.3vw;
        position: absolute;
    }

    /*      !TEAM SECTION!      */
    .row-team {
        display: flex;
        align-items: center;
        text-align: left;
        margin-top: 15vw;
        margin-bottom: 15vw;
    }

    .team-img {
        width: 40vw;
        height: 49.1vw;
        object-fit: cover;
        object-position: 60% 0;
        border-radius: 2.5vw;
        margin-left: 6.5vw;
        margin-right: 8vw;
    }

    .team-text {
        align-items: center;
        text-align: left;
        width: 80vw;
    }

    .team-text h2 {
        font-size: 5.4vw;
        line-height: 6.5vw;
        color: var(--primary-color);
        margin-bottom: 0.5vw;
    }

    .team-text p {
        font-size: 3.6vw;
        line-height: 6vw;
        color: var(--text-color);
        width: 72vw;
        text-wrap: wrap;
    }

    .about-us-button {
        background: linear-gradient(to right, var(--secondary-color), #0075B6);
        color: #fff;
        padding: 1.5vw 4.3vw;
        margin-left: 26.5vw;
        border: none;
        border-radius: 1.8vw;
        font-family: Poppins;
        letter-spacing: 0.1vw;
        font-size: 2.5vw;
        font-weight: var(--font-semibold);
        cursor: pointer;
        margin-top: 0.5vw;
        transition: box-shadow 0.5s ease;
    }

    /*      !CLINIC SECTION!      */
    .clinic-content {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .clinic {
        flex: 1;
        flex-direction: column;
        width: 100%;
        background-color: var(--light-background-color);
        text-align: center;
        padding-bottom: 7vw;
        margin-top: 2vw;
    }

    /* Galeri başlığının stilini güncelle */
    .gallery-header {
        color: var(--primary-color);
        font-size: 4.5vw;
        padding: 0.1vw 0vw;
        line-height: 5vw;
        /* Başlık ile resimler arasına boşluk ekledik */
    }

    .clinic-left-content {
        padding: 0vw 0.6vw;
        /* Sol içerik stilini güncelle */
    }

    .clinic-left-content img {
        width: 80vw;
        height: 80vw;
        object-fit: cover;
        border-radius: 3vw;
    }

    .clinic-right-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /*Mobilde alttaki resimlerin 3 tane olarak gösterlimesini sağlar
        2 yapılırsa 4 resim olarak gösterir*/
        /* Resimler arasındaki boşluk */
        /* Sağ içerik stilini güncelle */
    }

    /* Her resmin stilini güncelle */
    .gallery-item {
        text-align: center;
    }

    .gallery-item:nth-child(4) {
        display: none;
        /*alttaki resim 3 tane olduğu için dördüncüyü atar*/
    }

    .gallery-item img {
        width: 25.6vw;
        height: 25.6vw;
        object-fit: cover;
        border-color: #FFFFFF;
        border-radius: 3vw;
        /* İstediğiniz köşe yuvarlama */
        padding: 0.2vw 0.8vw;
    }
    
    /*      !FOOTER!      */
    /* Footerı stilize etmek için CSS kuralları */
    footer {
        background-color: var(--background-color);
        /* Footer arkaplan rengi */
        color: var(--primary-color);
        /* Metin rengi */
        border-top: 1px solid lightgray;
        display: flex;
        flex-direction: row;
        /* İçerikleri yatay olarak hizalar */
        justify-content: space-between;
        /* İçerikleri sola ve sağa yay */
        align-items: center;
        /* İçerikleri dikey olarak hizala */
        left: 0;
        bottom: 0;
        width: 100%;
        height: 10vw;
        font-size: 3vw
    }

    .footer-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 3vw;
    }

    .footer-left img {
        width: 8vw;
        /* Logo resmi genişliği */
        height: auto;
        /* Otomatik yükseklik ayarla */
        margin-right: 0.2vw;
        margin-bottom: 0.2vw;
        /* Logo ile marka ismi arasındaki boşluk */
    }

    .footer-marka-ismi {
        font-weight: var(--font-bold);
        /* Marka ismini kalın yap */
    }

    .footer-right p {
        font-weight: var(--font-bold);
        margin-right: 2vw;
        /* Paragrafın içerikten boşluğunu kaldır */
    }
}