:root {
    --primary-color: #00476F;
    /* Ana renk */
    --secondary-color: #00AEEE;
    /* İkincil renk */
    --light-background-color: #d4e6f2a4;
    /*mavi tonlu arkaplan rengi*/
    --background-color: #FFFFFF;
    /* Arka plan rengi */
    --header-text-color: #282828;
    /*Başlıktaki menü rengi*/
    --text-color: #537480;
    /* Metin rengi */
    --footer-color: #DBDBDB;
    /*footer border rengi*/
    --link-color: #007BFF;
    /* Bağlantı rengi */
    --font-light: 300;
    /* Light (hafif) yazı tipi ağırlığı */
    --font-regular: 400;
    /* Regular (normal) yazı tipi ağırlığı */
    --font-medium: 500;
    /* Medium (orta) yazı tipi ağırlığı */
    --font-semibold: 600;
    /* Semibold (yarım kalın) yazı tipi ağırlığı */
    --font-bold: 700;
    /* Bold (kalın) yazı tipi ağırlığı */
}

body {
    font-family: "Poppins", sans-serif;
}

.no-scroll {
    overflow: hidden;
    height: 100vh;
}

/* Temel stil */
.container {
    display: flex;
    flex-direction: column;
    /* Mobilde dikey sıralama */
}

.row {
    display: flex;
    justify-content: space-between;
    /* Elemanları yatayda sağa ve sola hizala */
}

.element {
    flex: 1;
    /* İstediğiniz minimum genişlik */
    margin: 5px;
    /* İstediğiniz boşluk miktarı */
    background-color: var(--background-color);
}

.hero {
    flex: 1;
    font-weight: var(--font-medium);
    padding: 5%;
    background-color: var(--background-color);
    text-align: left;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
}

h1 {
    margin-top: -1%;
    font-size: 5.2vw;
    white-space: nowrap;
}

p {
    margin-top: -9%;
    font-size: 2.1vw;
    color: var(--secondary-color);
    white-space: nowrap;
}

.cta-button {
    background: linear-gradient(to right, var(--secondary-color), #0075B6);
    color: #fff;
    padding: 0.7vw 2.6vw;
    border: none;
    border-radius: 0.8vw;
    font-family: Poppins;
    letter-spacing: 0.1vw;
    margin-left: 14.5vw;
    font-size: 1.2vw;
    font-weight: var(--font-semibold);
    cursor: pointer;
    margin-top: 17%;
    transition: box-shadow 0.5s ease;
}
.cta-button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
/* Sağ yarısı */
.right-content {
    flex: 1;
    position: relative;
    display: flex;
    align-items: flex-end;
}

/* Overlay için ortak stil */
/* Üst katman için stil */
.overlay-box {
    position: absolute;
    top: 10%;
    min-width: 100px;
    right: 10%;
    /* Sol kenardan %10 ötelemek için */
    width: 100%;
    /* Sağ kenara %10 ötelemek için */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: none;
    /* Overlay arkaplanını kaldırın */
    z-index: 1;
    /* Overlay'i üst katmanda görüntülemek için */
}

/* Alt katman için stil */
.rectangle {
    min-width: 100px;
    width: 70%;
    height: 80%;
    position: absolute;
    border-radius: 2.5vw;
    z-index: 0;
    /* Dikdörtgenleri alt katmanda görüntülemek için */
    background-color: var(--light-background-color);
    /* Dikdörtgenlerin opaklığını %50 yapar */
}

/* Dikdörtgenleri overlap yapmak için pozisyon ayarı */
.rectangle:nth-child(odd) {
    left: 13%;
    /* Sağ yarının sol kenarına yerleştirir */
}

.rectangle:nth-child(even) {
    right: 13%;
    top: 5%;
    /* Sağ yarının sağ kenarına yerleştirir */
}

/* Görsel */
.overlay-box img {
    min-width: 100px;
    width: 70%;
    margin-top: -11%;
    margin-left: 17%;
    height: auto;
    object-fit: cover;
    overflow:visible;
    z-index: 2;
    /* Resmi üst katmanda görüntülemek için */
}

.row-team {
    display: flex;
    align-items: center;
    text-align: left;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.team-img{
    width: 31.7vw;
    height: 38.9vw;
    object-fit: cover;
    object-position: 60% 0;
    border-radius: 1.3vw;
    margin-left: 6.5vw;
    margin-right: 8vw;
}

.team-text{
    align-items: center;
    text-align: left;
    width: 45vw;
}

.team-text h2 {
    font-size: 3.35vw;
    line-height: 4.2vw;
    color: var(--primary-color);
    font-weight: var(--font-semibold);
    margin-bottom: 6vw;
}
.team-text p{
    font-size: 1vw;
    font-weight: var(--font-medium);
    color: var(--text-color);
    line-height: 1.9vw;
    width: 31vw;
    text-wrap: wrap;
}

.about-us-button{
    background: linear-gradient(to right, var(--secondary-color), #0075B6);
    color: #fff;
    padding: 0.7vw 2vw;
    border: none;
    border-radius: 0.8vw;
    font-family: Poppins;
    letter-spacing: 0.1vw;
    font-size: 1vw;
    font-weight: var(--font-semibold);
    cursor: pointer;
    margin-top: 2.5vw;
    transition: box-shadow 0.5s ease;
}

.about-us-button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
/* Ekran genişliği 768 piksel veya daha küçükse, sıralamayı değiştir */
@media screen and (max-width: 675px) {
    .row {
        flex-direction: column-reverse;
        margin-top: 7vw;
        /* Dikey sıralamaya geç */
    }
    .row-team {
        flex-direction: column;
        /* İkinci satırdaki elementlerin sıralamasını ters çevir */
    }
    .hero {
        flex: 1;
        padding: 0%;
        background-color: var(--background-color);
        text-align: center;
        color: var(--primary-color);
    }
    .right-content {
        position: relative;
        width: 100%;
        /* Mobilde tam genişlik */
        /* Dikeyde herhangi bir üst boşluk kaldırılıyor */
    }
    h1 {
        margin-top: -1%;
        font-size: 9vw;
        font-weight: var(--font-bold);
        white-space: nowrap;
    }

    p {
        margin-top: -9%;
        font-size: 4.7vw;
        font-weight: var(--font-bold);
        color: var(--secondary-color);
        white-space: nowrap;
    }
    .cta-button {
        background: linear-gradient(to right, var(--secondary-color), #0075B6);
        color: #fff;
        padding: 2.1vw 6.1vw;
        border: none;
        border-radius: 3vw;
        font-family: Poppins;
        margin-left: 0vw;
        letter-spacing: 0.1vw;
        font-size: 3.5vw;
        font-weight: var(--font-semibold);
        cursor: pointer;
        margin-top: 4%;
    }
    /* Üst katman için stil (overlay-box) */
    .overlay-box {
        position: static;
        /* Normal akışa dönüş */
        width: 100%;
        align-items: center;
        /* Mobilde tam genişlik */
    }
    .rectangle:nth-child(odd) {
        left: 18.3%;
        /* Sağ yarının sol kenarına yerleştirir */
    }

    .rectangle:nth-child(even) {
        right: 18.3%;
        top: 6%;
        /* Sağ yarının sağ kenarına yerleştirir */
    }
    /* Alt katman için stil (rectangle) */
    .rectangle {
        width: 58%;
        height: 85%;
        position: absolute;
        border-radius: 13vw;
        /* Dikeyde herhangi bir üst boşluk kaldırılıyor */
    }
    .overlay-box img {
        min-width: 100px;
        width: 60%;
        margin-top: -8%;
        margin-left: 5%;
        height: auto;
        object-fit: cover;
        z-index: 2;
        /* Resmi üst katmanda görüntülemek için */
    }

    .row-team {
        display: flex;
        align-items: center;
        text-align: left;
        margin-top: 15vw;
        margin-bottom: 15vw;
    }

    .team-img {
        width: 40vw;
        height: 49.1vw;
        object-fit: cover;
        object-position: 60% 0;
        border-radius: 2.5vw;
        margin-left: 6.5vw;
        margin-right: 8vw;
    }

    .team-text {
        align-items: center;
        text-align: left;
        width: 80vw;
    }

    .team-text h2 {
        font-size: 5.4vw;
        line-height: 6.5vw;
        color: var(--primary-color);
        margin-bottom: 8.5vw;
    }

    .team-text p {
        font-size: 3.6vw;
        line-height: 6vw;
        color: var(--text-color);
        width: 72vw;
        text-wrap: wrap;
    }

    .about-us-button {
        background: linear-gradient(to right, var(--secondary-color), #0075B6);
        color: #fff;
        padding: 1.5vw 4.3vw;
        margin-left: 26.5vw;
        border: none;
        border-radius: 1.8vw;
        font-family: Poppins;
        letter-spacing: 0.1vw;
        font-size: 2.5vw;
        font-weight: var(--font-semibold);
        cursor: pointer;
        margin-top: 0.5vw;
        transition: box-shadow 0.5s ease;
    }
}