:root {
    --primary-color: #00476F;
    /* Ana renk */
    --secondary-color: #00AEEE;
    /* İkincil renk */
    --light-background-color: #d4e6f2a4;
    /*mavi tonlu arkaplan rengi*/
    --background-color: #FFFFFF;
    /* Arka plan rengi */
    --header-text-color: #282828;
    /*Başlıktaki menü rengi*/
    --text-color: #537480;
    /* Metin rengi */
    --footer-color: #DBDBDB;
    /*footer border rengi*/
    --link-color: #007BFF;
    /* Bağlantı rengi */
    --font-light: 300;
    /* Light (hafif) yazı tipi ağırlığı */
    --font-regular: 400;
    /* Regular (normal) yazı tipi ağırlığı */
    --font-medium: 500;
    /* Medium (orta) yazı tipi ağırlığı */
    --font-semibold: 600;
    /* Semibold (yarım kalın) yazı tipi ağırlığı */
    --font-bold: 700;
    /* Bold (kalın) yazı tipi ağırlığı */
}

body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.no-scroll {
    overflow: hidden;
    height: 100vh;
}

/*      !HEADER!      */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    color: var(--header-text-color);
    margin-top: 0px;
    padding: 0 2%;
    /* % olarak padding kullanımı */
}

.logo-header img {
    margin-left: 3%;
    margin-top: 1vw;
    width: 6vw;
    height: auto;
}

.header-menu-icon {
    display: none;
    margin-top: -4px;
    /* Başlangıçta menü simgesini gizle */
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 4px;
    background-color: var(--primary-color);
    margin: 3px 2px;
}

.toggle-menu {
    display: none;
    /* Başlangıçta toggle menüyü gizle */
    position: fixed;
    top: 0;
    margin: 0;
    right: -43vw;
    /* Ekranın %40'u kadar kaydırılmış */
    height: 100%;
    /* Ekran yüksekliği kadar */
    width: 43vw;
    /* Ekranın %40'u kadar genişlik */
    background-color: var(--primary-color);
    color: #fff;
    transition: right 0.3s;
    /* Animasyon için geçiş süresi ekler */
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 35px;
    cursor: pointer;
}

nav ul.header-menu {
    list-style: none;
    display: flex;
    gap: 3.5vw;
    margin-left: -7vw;
}

nav ul.header-menu li a {
    text-decoration: none;
    color: var(--header-text-color);
    letter-spacing: 0.13vw;
    font-weight: var(--font-semibold);
    font-size: 0.85vw;
}

nav ul.header-menu li a.activePage {
    text-decoration: none;
    color: var(--secondary-color);
    letter-spacing: 0.13vw;
    font-weight: var(--font-semibold);
    font-size: 0.85vw;
}

/* Diğer stiller burada yer alır */

.flags {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    /* Bayrakları sağa hizala */
}

.flags a {
    display: inline-block;
    border-radius: 50%;
    /* Dairesel şekil için border-radius kullanın */
}

.flags img {
    width: 2.7vw;
    height: 2.7vw;
    /* Beyaz bir kenarlık ekleyebilirsiniz */
    border-radius: 50%;
    /* Bayrağı daire şeklinde yapar */
}

/*      !SERVICE SECTION!      */
.service-section{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    color: var(--primary-color);
    height: 80vh;
    margin-bottom: 3vw;
    /* Sayfanın tamamına yayılmak için */
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2vw;
    /* Kutular arasındaki boşluk */
    margin-bottom: 0.6vw;
    margin-left: 13vw;
}

.row.medium{
    display: none;
    justify-content: center;
    gap: 2.1vw;
    /* Kutular arasındaki boşluk */
    margin-bottom: 2.1vw;
    
}
.box {
    display: flex;
    flex-direction: row;
    width: 7vw;
    height: 3.3vw;
    align-items: center;
    /* Satırda 4 kutu olacak şekilde */
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--background-color);
    /* Arkaplan rengi */
    border: 0.14vw solid #DFDFDF;
    border-radius: 0.5vw;
    /* Gri kenarlık */
    padding: 0.4vw 2.5vw;
    text-align: left;
    cursor: pointer;
    transition: box-shadow 0.8s ease, background-color 0.8s ease,
        color 0.8s ease;
    /*yavaş bir geçiş için*/
}

.box:hover img{
    filter: brightness(0) invert(1);
    /*ikonları kutu üstüne gelindiğinde beyaz yap*/
}

.box:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        /* Yavaş geçişli gölge efekti */
        
    color: var(--background-color);
    background-color: var(--primary-color);
    /*kutunun üstüne geindiğinde renk değişimi*/
}

.icon {
    margin-left: -1.2vw;
    width: 3.6vw;
    height: auto;
    transition: filter 0.8s ease;
}

.icon.smile{
    margin-left: -1.5vw;
    width: 3.6vw;
    height: auto;
}

.icon.beyazlatma {
    margin-left: -1.2vw;
    width: 2.7vw;
    height: auto;
}
.icon.estetik {
    margin-left: -1.2vw;
    width: 2.7vw;
    height: auto;
}
.icon.kaplama {
    margin-left: -1.2vw;
    width: 3.2vw;
    height: auto;
}
.icon.implant {
    margin-left: -1vw;
    width: 2.7vw;
    height: auto;
}
.icon.dis_eti {
    margin-left: -1.6vw;
    width: 3.6vw;
    height: auto;
}
.icon.cene {
    margin-left: -1.1vw;
    width: 2.8vw;
    height: auto;
}
.icon.dis_sikma {
    margin-left: -1.5vw;
    width: 3.6vw;
    height: auto;
}
.text {
    /*box texts*/
    width: 5.1vw;
    margin-left: 2.8vw;
    font-weight:var(--font-semibold);
    font-size: 1vw;
    position: absolute;
}

.services-header{
    font-size: 3vw;
    color: var(--primary-color);
}

.service-text {
    display: none;
    flex-direction: column;
    align-items:center;
    margin-left: 0vw;
    width: 60vw;
}

.service-text h2 {
    border-bottom: 0.1vw solid var(--primary-color);
    display: inline-block;
    padding: 0 20px 6px;
    text-align: center;
    font-size: 1.7vw;
    line-height: 2vw;
    color: var(--primary-color);
    font-weight: var(--font-semibold);
    margin-bottom: 0vw;
}

.description {
    text-align: left;
    font-size: 1.1vw;
    font-weight: var(--font-medium);
    color: var(--primary-color);
    line-height: 1.8vw;
    width: 50vw;
    text-wrap: wrap;
}

/*      !FOOTER!      */
/* Footerı stilize etmek için CSS kuralları */
footer {
    background-color: var(--background-color);
    /* Footer arkaplan rengi */
    color: var(--primary-color);
    /* Metin rengi */
    border-top: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    /* İçerikleri yatay olarak hizalar */
    justify-content: space-between;
    /* İçerikleri sola ve sağa yay */
    align-items: center;
    /* İçerikleri dikey olarak hizala */
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4.2vw;
    font-size: 1.4vw
}

.footer-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 3vw;
}

.footer-left img {
    width: 4vw;
    /* Logo resmi genişliği */
    height: auto;
    /* Otomatik yükseklik ayarla */
    margin-right: 0.2vw;
    margin-bottom: 0.2vw;
    /* Logo ile marka ismi arasındaki boşluk */
}

.footer-marka-ismi {
    font-weight: var(--font-bold);
    /* Marka ismini kalın yap */
}

.footer-right p {
    font-weight: var(--font-bold);
    margin-right: 2vw;
    /* Paragrafın içerikten boşluğunu kaldır */
}

/* Mobil düzenlemeler */
@media screen and (max-width: 675px) {
    /*      !HEADER!      */
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--background-color);
        color: var(--header-text-color);
        margin-top: 3px;
        padding: 1% 2%;
        /* % olarak padding kullanımı */
    }

    .logo-header {
        order: 1;
        /* Logo, menü ikonunun önüne gelir */
    }

    .header-menu-icon {
        display: flex;
        margin-right: 1vw;
        /* Mobilde menü simgesini göster */
        order: 3;
        /* Menü simgesi, logonun arkasına gelir */
    }

    .toggle-menu {
        display: block;
        /* Mobilde toggle menüyü göster */
        /* Ekranın sağ tarafından sola kaydır */
    }

    .toggle-menu ul {
        list-style: none;
        margin-top: 18vw;
        line-height: 2.7;
        margin-left: -3vw;
    }

    .toggle-menu ul li a {
        text-decoration: none;
        color: var(--background-color);
        letter-spacing: 0.3vw;
        font-weight: var(--font-medium);
        font-size: 3.5vw;
    }

    .toggle-menu ul li a.activePage {
        text-decoration: none;
        color: var(--secondary-color);
        letter-spacing: 0.3vw;
        font-weight: var(--font-medium);
        font-size: 3.5vw;
    }

    .close-icon {
        display: block;
        /* Mobilde kapatma ikonunu göster */
    }

    .flags {
        order: 2;
        /* Bayraklar, menü ikonunun arkasına gelir */
        margin-left: 44vw;
    }

    .flags img {
        width: 30px;
        height: 30px;
    }

    .logo-header img {
        margin-left: 1vw;
        width: 15vw;
        height: auto;
    }

    nav {
        display: none;
        /* Menüyü gizle */
        background-color: #666666;
        position: absolute;
        top: 10px;
        right: 0;
        width: 100%;
        z-index: 1;
    }

    nav.active {
        display: flex;
        /* Menüyü mobilde göster */
        flex-direction: column;
        align-items: center;
    }

    .header-menu.active li {
        padding: 10px;
        text-align: center;
    }

    /*      !SERVICE SECTION!      */
    .container{
        flex-direction: column;
        height: 200vw;
        width: 90vw;
        padding-left: 2.5vw;
    }
    .row{
        display: none;
        margin-left: 0;
    }
    .row.medium{
        flex-direction: row;
        display: flex;
    }
    .box {
        display: flex;
        flex-direction: row;
        width: 38vw;
        height: 13vw;
        align-items: center;
        /* Satırda 4 kutu olacak şekilde */
        text-decoration: none;
        color: var(--primary-color);
        background-color: var(--background-color);
        /* Arkaplan rengi */
        border: 0.5vw solid #DFDFDF;
        border-radius: 3vw;
        /* Gri kenarlık */
        padding: 0.4vw 2.5vw;
        text-align: left;
        transition: box-shadow 0.8s ease, background-color 0.8s ease,
            color 0.8s ease;
        /*yavaş bir geçiş için*/
    }

    .icon {
        margin-left: 0.6vw;
        width: 8vw;
        height: auto;
        transition: filter 0.8s ease;
    }

    .icon.smile {
        margin-left: 0.6vw;
        width: 12.125vw;
        height: auto;
    }

    .icon.beyazlatma {
        margin-left: 1vw;
        width: 9.7vw;
        height: auto;
    }

    .icon.estetik {
        margin-left: 1vw;
        width: 9.7vw;
        height: auto;
    }

    .icon.kaplama {
        margin-left: 1vw;
        width: 11.048vw;
        height: auto;
    }

    .icon.implant {
        margin-left: 1.2vw;
        width: 9.7vw;
        height: auto;
    }

    .icon.dis_eti {
        margin-left: 0vw;
        width: 12.125vw;
        height: auto;
    }

    .icon.cene {
        margin-left: 1.3vw;
        width: 9.97vw;
        height: auto;
    }

    .icon.dis_sikma {
        margin-left: 0.2vw;
        width: 12.125vw;
        height: auto;
    }

    .text {
        width: 20vw;
        margin-left: 15vw;
        font-weight: var(--font-semibold);
        font-size: 3.3vw;
        position: absolute;
    }

    .services-header {
        font-size: 6vw;
        color: var(--primary-color);
    }

    .service-text {
        display: none;
        flex-direction: column;
        align-items: center;
        margin-left: 3vw;
        width: 100%;
        height: 150vw;
        
    }

    .service-text h2 {
        border-bottom: 0.1vw solid var(--primary-color);
        display: inline-block;
        padding: 0 20px 2.5vw;
        text-align: center;
        font-size: 4vw;
        line-height: 2vw;
        color: var(--primary-color);
        font-weight: var(--font-semibold);
        margin-left: -5.8vw;
    }

    .description {
        text-align: left;
        font-size: 3vw;
        font-weight: var(--font-medium);
        color: var(--primary-color);
        line-height: 4vw;
        margin-left: -3vw;
        width: 80vw;
        text-wrap: wrap;
    }

    /*      !FOOTER!      */
    /* Footerı stilize etmek için CSS kuralları */
    footer {
        background-color: var(--background-color);
        /* Footer arkaplan rengi */
        color: var(--primary-color);
        /* Metin rengi */
        border-top: 1px solid lightgray;
        display: flex;
        flex-direction: row;
        /* İçerikleri yatay olarak hizalar */
        justify-content: space-between;
        /* İçerikleri sola ve sağa yay */
        align-items: center;
        /* İçerikleri dikey olarak hizala */
        flex-shrink: 0;
        left: 0;
        bottom: 0;
        height: 10vw;
        font-size: 3vw;
        margin-top: auto;
    }

    .footer-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 3vw;
    }

    .footer-left img {
        width: 8vw;
        /* Logo resmi genişliği */
        height: auto;
        /* Otomatik yükseklik ayarla */
        margin-right: 0.2vw;
        margin-bottom: 0.2vw;
        /* Logo ile marka ismi arasındaki boşluk */
    }

    .footer-marka-ismi {
        font-weight: var(--font-bold);
        /* Marka ismini kalın yap */
    }

    .footer-right p {
        font-weight: var(--font-bold);
        margin-right: 2vw;
        /* Paragrafın içerikten boşluğunu kaldır */
    }
}