:root {
    --primary-color: #00476F;
    /* Ana renk */
    --secondary-color: #00AEEE;
    /* İkincil renk */
    --light-background-color: #d4e6f2a4;
    /*mavi tonlu arkaplan rengi*/
    --background-color: #FFFFFF;
    /* Arka plan rengi */
    --header-text-color: #282828;
    /*Başlıktaki menü rengi*/
    --text-color: #537480;
    /* Metin rengi */
    --footer-color: #DBDBDB;
    /*footer border rengi*/
    --link-color: #007BFF;
    /* Bağlantı rengi */
    --font-light: 300;
    /* Light (hafif) yazı tipi ağırlığı */
    --font-regular: 400;
    /* Regular (normal) yazı tipi ağırlığı */
    --font-medium: 500;
    /* Medium (orta) yazı tipi ağırlığı */
    --font-semibold: 600;
    /* Semibold (yarım kalın) yazı tipi ağırlığı */
    --font-bold: 700;
    /* Bold (kalın) yazı tipi ağırlığı */
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
}

.service-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    height: 100vh;
    /* Sayfanın tamamına yayılmak için */
}

h2.our-service-header{
    font-size: 2vw;
    margin-bottom: 2.5vw;
}

.service-row {
    display: flex;
    justify-content: center;
    gap: 10px;
    /* Kutular arasındaki boşluk */
    margin-bottom: 10px;
}

.service-row.medium{
    display: none;
    justify-content: center;
    gap: 2vw;
    /* Kutular arasındaki boşluk */
    margin-bottom: 2vw;
    
}
.service-box {
    display: flex;
    flex-direction: row;
    width: 10vw;
    height: 4.4vw;
    align-items: center;
    /* Satırda 4 kutu olacak şekilde */
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--background-color);
    /* Arkaplan rengi */
    border: 0.14vw solid #DFDFDF;
    border-radius: 0.5vw;
    /* Gri kenarlık */
    padding: 0.4vw 2.5vw;
    text-align: left;
    transition: box-shadow 0.8s ease, background-color 0.8s ease,
        color 0.8s ease;
    /*yavaş bir geçiş için*/
}

.service-box:hover img{
    filter: brightness(0) invert(1);
    /*ikonları kutu üstüne gelindiğinde beyaz yap*/
}

.service-box:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        /* Yavaş geçişli gölge efekti */
        
    color: var(--background-color);
    background-color: var(--primary-color);
    /*kutunun üstüne geindiğinde renk değişimi*/
}

.our-service-icon {
    margin-left: -1.2vw;
    width: 3.6vw;
    height: auto;
    transition: filter 0.8s ease;
}

.our-service-icon.smile{
    margin-left: -1.5vw;
    width: 4.5vw;
    height: auto;
}

.our-service-icon.beyazlatma {
    margin-left: -1.2vw;
    width: 3.6vw;
    height: auto;
}
.our-service-icon.estetik {
    margin-left: -1.2vw;
    width: 3.6vw;
    height: auto;
}
.our-service-icon.kaplama {
    margin-left: -1.2vw;
    width: 4.1vw;
    height: auto;
}
.our-service-icon.implant {
    margin-left: -1vw;
    width: 3.6vw;
    height: auto;
}
.our-service-icon.dis_eti {
    margin-left: -1.6vw;
    width: 4.5vw;
    height: auto;
}
.our-service-icon.cene {
    margin-left: -1.1vw;
    width: 3.7vw;
    height: auto;
}
.our-service-icon.dis_sikma {
    margin-left: -1.5vw;
    width: 4.5vw;
    height: auto;
}
.our-service-text {
    width: 7.7vw;
    margin-left: 3.8vw;
    font-weight:var(--font-semibold);
    font-size: 1.2vw;
    position: absolute;
}

/* Mobil düzenlemeler */
@media screen and (max-width: 675px) {
    .service-box {
        width: 15vw;
        height: 4.4vw;
    }
    .service-row{
        display: none;
    }
    .service-row.medium{
        display: flex;
    }
    .service-box {
        display: flex;
        flex-direction: row;
        width: 38vw;
        height: 13vw;
        align-items: center;
        /* Satırda 4 kutu olacak şekilde */
        text-decoration: none;
        color: var(--primary-color);
        background-color: var(--background-color);
        /* Arkaplan rengi */
        border: 0.5vw solid #DFDFDF;
        border-radius: 3vw;
        /* Gri kenarlık */
        padding: 0.4vw 2.5vw;
        text-align: left;
        transition: box-shadow 0.8s ease, background-color 0.8s ease,
            color 0.8s ease;
        /*yavaş bir geçiş için*/
    }

    .our-service-icon {
        margin-left: 0.6vw;
        width: 8vw;
        height: auto;
        transition: filter 0.8s ease;
    }

    .our-service-icon.smile {
        margin-left: 0.6vw;
        width: 12.125vw;
        height: auto;
    }

    .our-service-icon.beyazlatma {
        margin-left: 1vw;
        width: 9.7vw;
        height: auto;
    }

    .our-service-icon.estetik {
        margin-left: 1vw;
        width: 9.7vw;
        height: auto;
    }

    .our-service-icon.kaplama {
        margin-left: 1vw;
        width: 11.048vw;
        height: auto;
    }

    .our-service-icon.implant {
        margin-left: 1.2vw;
        width: 9.7vw;
        height: auto;
    }

    .our-service-icon.dis_eti {
        margin-left: 0vw;
        width: 12.125vw;
        height: auto;
    }

    .our-service-icon.cene {
        margin-left: 1.3vw;
        width: 9.97vw;
        height: auto;
    }

    .our-service-icon.dis_sikma {
        margin-left: 0.2vw;
        width: 12.125vw;
        height: auto;
    }

    h2.our-service-header {
        font-size: 6vw;
        margin-bottom: 3vw;
    }

    .our-service-text {
        width: 20vw;
        margin-left: 15vw;
        font-weight: var(--font-semibold);
        font-size: 3.3vw;
        position: absolute;
    }
}